#result{
    padding: 1rem;
    width: 100%;
    min-width: 250px;
    max-width: 700px;
    max-height: 50vh;
    height: auto;
    overflow-y: hidden;
    border: 1px solid rgb(153, 153, 153);
}
#result li{
    font-size: 1.6rem;
    padding: 1rem 2rem;
    overflow: hidden;
    border: 1px solid lightgrey;
    border-radius: 3px;
}
#result li:hover{
    cursor: pointer;
    background-color: lightgrey;
}